apiVersion: apps/v1
kind: Deployment
metadata:
  name: multiply
spec:
  selector:
    matchLabels:
      app: multiply
  template:
    metadata:
      labels:
        app: multiply
    spec:
      containers:
        - name: multiply
          image: ghcr.io/maxanderson95/calculator-microservice/multiply:latest
          imagePullPolicy: Always
          env:
            - name: PORT
              value: "80"
          ports:
            - containerPort: 80
